.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
.yarnrc
biome.jsonc
pnpm-lock.yaml
vsc-extension-quickstart.md
DEVELOPMENT.md
CHANGELOG.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/test/**
dist/**
node_modules/**
